<!--
You can use this form through Camunda Tasklist
by setting the formKey of a BPMN User Task to:
embedded:app:forms/task-form.html
-->

<form name="cadastrar_curriculo" class="form-horizontal" role="form">

  <!-- read-only field -->
  <div class="form-group">
    <label for="nome_candidato" class="col-sm-2 control-label">Nome Candidato:</label>
    <div class="col-sm-10">
      <input class="form-control" name="nome_candidato" ng-model="nome_candidato"/>
    </div>
  </div>

  <!-- read-only field -->
  <div class="form-group">
    <label for="telefone_contato" class="col-sm-2 control-label">Telefone Contato:</label>
    <div class="col-sm-10">
      <input class="form-control" name="telefone_contato" ng-model="telefone_contato"/>
    </div>
  </div>

  <!-- read-only field -->
  <div class="form-group">
    <label for="email_contato" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
      <input class="form-control" name="email_contato" ng-model="email_contato"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Curriculo_observacao" class="col-sm-2">Observação</label>
    <div class="col-sm-12">
      <textarea class="form-control" name="obs" ng-model="obs">
      </textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="cancelar" class="col-sm-2 control-label">Cancelar</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="cancelar" cam-variable-name="cancelar" cam-variable-type="Boolean"
            checked="checked" class="form-control" />
        </label>
      </div>
    </div>
  </div>

  <script cam-script type="text/form-script">

  $scope.obs = "";
  $scope.nome_candidato = "";  
  $scope.telefone_contato = "";
  $scope.email_contato = "";

  $scope.listaObs = [];

  camForm.on('submit', function(evt){

    $scope.listaObs.push($scope.obs);

    camForm.variableManager.createVariable({
      name: 'observacao',
      type: 'json',
      value: $scope.listaObs
    });

    camForm.variableManager.createVariable({
      name: 'nome',
      type: 'json',
      value: $scope.nome_candidato
    });

    camForm.variableManager.createVariable({
      name: 'telefone',
      type: 'json',
      value: $scope.telefone_contato
    });

    camForm.variableManager.createVariable({
      name: 'email',
      type: 'json',
      value: $scope.email_contato
    });

  });
  </script>
</form>